<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>List</title>
</head>
<body>
<a href="/create-user">Create New User</a>
<h1>User</h1>
<form th:action="@{/users}" method="post">
    <input type="text" name="userName" th:value="${userName}" placeholder="Enter user name">
    <input type="submit" value="search">
</form>
<table border="1" class="table">
    <tr>
        <th>User Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="user:${users}">
        <tr>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:if="${user.category}" th:text="${user.category.name}"></td>
            <td th:unless="${user.category}"></td>
            <td><a th:href="@{/edit-user/__${user.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-user/__${user.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div th:align="right">
    <a th:href="@{'/users'(page=${users.number - 1})}" th:if="${users.hasPrevious()}">Previous</a>
    <span th:text="${users.number + 1}"></span>/<span th:text="${users.totalPages}"></span>
    <a th:href="@{'/users'(page=${users.number + 1})}" th:if="${users.hasNext()}">Next</a>
</div>
</body>
</html>